@import "variable.scss";

.icheck-list {
    list-style   : outside none none;
    margin       : 0;
    padding      : 0;
    float        : left;
    padding-right: 50px;
    padding-top  : 10px;

    li {
        padding-bottom: 5px;

        label {
            padding-left: 10px;
        }
    }
}

.icolors {
    list-style: outside none none;
    margin    : 0;
    padding   : 0;

    > li {
        background: #263238;
        display   : inline-block;
        float     : left;
        height    : 30px;
        margin    : 2px;
        padding   : 0;
        text-align: center;
        width     : 30px;

        &:first-child {
            margin-left: 0;
        }
    }

    > li.active {
        &::after {
            color      : #ffffff;
            content    : "✓";
            line-height: 30px;
        }
    }

    > li.orange {
        background: $orange;
    }

    > li.yellow {
        background: $yellow;
    }

    > li.info {
        background: $info;
    }

    > li.green {
        background: $green;
    }

    > li.red {
        background: $red;
    }

    > li.purple {
        background: $purple;
    }

    > li.blue {
        background: $blue;
    }
}

