{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block heading %}
    <!--Card content -->
    <div class="card-header">
        
        <h5 class="mb-2 mb-sm-0 pt-1">
            username: <b>medo</b>
        </h5>
        <br>
        <h5 class="mb-4 mb-sm-0 pt-1">
            password: <b>ZZAZgf7fb5Jc9iB</b>
        </h5>
        
    </div>
{% endblock heading %}

{% block card_header %}Home{% endblock card_header %}

{% block card-body %}
    <h1>Hi in Shokr Stocks Screener</h1>

{% endblock card-body %}
