{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}View Stock{% endblock %}


{% block heading %}
    <!--Card content-->
    <h5 class="mb-2 mb-sm-0 pt-1" id="xoxo">
        <span>Please wait while data is loading ..</span>
    </h5>
{% endblock heading %}

{% block row %}

    <!--Grid column-->
    <div class="col-md-9 mb-4">

        <!--Card-->
        <div class="card mb-4">

            <!-- Card header -->
            <div class="card-header text-center">
                Stock Info
            </div>

            <!--Card content-->
            <div class="card-body">

                <!-- List group links -->
                <div class="list-group list-group-flush" id="info">
                    <a class="list-group-item list-group-item-action waves-effect">{{ stock.name }}
                    </a>
                    <a class="list-group-item list-group-item-action waves-effect">
                        <span class="badge badge-primary badge-pill pull-right">{{ stock.symbol }}</span>
                    </a>
                    <a class="list-group-item list-group-item-action waves-effect">
                        <span class="badge badge-warning badge-pill pull-right">{{ stock.sector }}</span>
                    </a>
                </div>
                <!-- List group links -->

            </div>

        </div>
        <!--/.Card-->

        <!--Card-->
        <div class="card mb-4">

            <!-- Card header -->
            <div class="card-header text-center">
                Chart
            </div>

            <!--Card content-->
            <div class="card-body">

                <dev id="testo"></dev>

            </div>

        </div>
        <!--/.Card-->

    </div>
    <!--Grid column-->

{% endblock row %}

{% block script %}
    <script>
        $(document).ready(function () {

            $.ajax({
                url: "{% url 'market_api:StockQuote' stock.pk %}",
                type: "get",
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    // response is form in html format
                    let symbol = response["01. symbol"];
                    let open = response["02. open"];
                    let high = response["03. high"];
                    let low = response["04. low"];
                    let price = response["05. price"];
                    let volume = response["06. volume"];
                    let latest = response["07. latest trading day"];
                    let close = response["08. previous close"];
                    let change = response["09. change"];
                    let change_percent = response["10. change percent"];


                    let str =
                        '<a class="list-group-item list-group-item-action waves-effect" style="color: #0b2e13"> High: ' + high + ' ' +
                        '<span class="badge badge-success badge-pill pull-right">' +
                        '<i class="fas fa-arrow-up ml-1"></i>' +
                        '</span>' +
                        '</a>' +

                        '<a class="list-group-item list-group-item-action waves-effect" style="color: #9f105c"> Low: ' + low + ' ' +
                        '<span class="badge badge-danger badge-pill pull-right">' +
                        '<i class="fas fa-arrow-down ml-1"></i>' +
                        '</span>' +
                        '</a>' +

                        '<a class="list-group-item list-group-item-action waves-effect" style="color: #0b2e13"> Open: ' +
                        open +
                        '</a>' +

                        '<a class="list-group-item list-group-item-action waves-effect" style="color: #b21f2d"> Close: ' +
                        close +
                        '</a>' +

                        '<a class="list-group-item list-group-item-action waves-effect" style="color: #1b451d"> Price: ' +
                        price +
                        '</a>' +

                        '<a class="list-group-item list-group-item-action waves-effect" style="color: #2c0419"> Volume: ' +
                        volume +
                        '</a>' +

                        '<a class="list-group-item list-group-item-action waves-effect" style="color: #5b32bc"> Latest trading day: ' +
                        latest +
                        '</a>' +

                        '<a class="list-group-item list-group-item-action waves-effect"> Change: ' +
                        change +
                        '</a>' +

                        '<a class="list-group-item list-group-item-action waves-effect"> Change %: ' +
                        change_percent +
                        '</a>'
                    ;

                    $("#info").append(str);
                }
            })

        });


        setTimeout(function () {
            $('#xoxo').hide();
        }, 2000); // <-- time in milliseconds
    </script>
{% endblock script %}