{% extends "base.html" %}

{% load static %}

{% block title %}Forex{% endblock %}


{% block card_header %}Top Currencies{% endblock card_header %}

{% block row %}
    <div class="col-md-4">
    </div>

    <div class="col-md-4" align="center">
        {% for Currency in Currencies %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#pablo">{{ Currency.pair }}</a>
                    </h4>
                    <div class="card-description">

                        <table border="true" style="border:chartreuse ;border-style: dotted;">
                            <tr>
                                <th> Bid</th>
                                <th>{{ Currency.bid }}</th>
                            </tr>
                            <tr>
                                <th> Ask</th>
                                <th>{{ Currency.ask }}</th>
                            </tr>
                            <tr>
                                <th> High</th>
                                <th>{{ Currency.high }}</th>
                            </tr>
                            <tr>
                                <th> Low</th>
                                <th>{{ Currency.low }}</th>
                            </tr>
                            <tr>
                                <th> Change</th>
                                <th>{{ Currency.change }}</th>
                            </tr>
                            <tr>
                                <th> Change %</th>
                                <th>{{ Currency.change_p }}</th>
                            </tr>
                            <tr>
                                <th> Last update</th>
                                <th>{{ Currency.time }}</th>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

{% endblock %}