{% load static i18n%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shokr</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <!-- Custom Stylesheet -->

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/modernizr-3.6.0.min.js' %}"></script>
</head>

<body>

    <div id="preloader">
        <div class="loader">
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__ball"></div>
        </div>
    </div>


    <div id="main-wrapper">
        <!-- header -->
        <div class="header">
            <div class="nav-header">
                <div class="brand-logo">
                    <a href="index.html">
                        <i class="cc BTC"></i>
                        <span class="brand-title">
                            <img src="{% static 'assets/images/logo-text.png' %}" alt="">
                        </span>
                    </a>
                </div>

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
            </div>

            <div class="header-content">
                <div class="header-left">
                    <ul>
                        <li class="icons position-relative">
                            <a href="javascript:void(0)">
                                <i class="icon-magnifier f-s-16"></i>
                            </a>
                            <div class="drop-down animated bounceInDown">
                                <div class="dropdown-content-body">
                                    <div class="header-search" id="header-search">
                                        <form action="#">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="icon-magnifier"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="header-right">
                    <ul>
                        <li class="icons">
                            <a href="javascript:void(0)">
                                <i class="icon-user f-s-18" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-profile animated bounceInDown">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="icon-settings"></i>
                                                <span>Setting</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-lock"></i>
                                                <span>Lock Screen</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-power"></i>
                                                <span>Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #/ header -->


        <!-- sidebar -->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">

                <div class="nav-user">
                    <h5>John Doe</h5>
                    <p>UI Developer</p>

                </div>

                <ul class="metismenu" id="menu">

                    <li class="nav-label">Main</li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false">
                            <i class="icon-speedometer"></i>
                            <span class="nav-text">Dashboard</span>
                            <span class="badge badge-danger nav-badge">10</span>
                        </a>
                        <ul aria-expanded="false">
                            <li>
                                <a href="index.html">Dashnoard 1</a>
                            </li>
                            <li>
                                <a href="index2.html">Dashnoard 2</a>
                            </li>
                            <li>
                                <a href="index3.html">Dashnoard 3</a>
                            </li>
                            <li>
                                <a href="index4.html">Dashnoard 4</a>
                            </li>
                            <li>
                                <a href="index5.html">Dashnoard 5</a>
                            </li>
                            <li>
                                <a href="index6.html">Dashnoard 6</a>
                            </li>
                            <li>
                                <a href="index7.html">Dashnoard 7</a>
                            </li>
                            <li>
                                <a href="index8.html">Dashnoard 8</a>
                            </li>
                            <li>
                                <a href="index9.html">Dashnoard 9</a>
                            </li>
                            <li>
                                <a href="index10.html">Dashnoard 10</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-label">Crypto</li>

                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false">
                            <i class="icon-cursor"></i>
                            <span class="nav-text">Cryptocurrency</span>
                            <span class="badge badge-primary nav-badge">18</span>

                        </a>
                        <ul aria-expanded="false">
                            <li>
                                <a href="ico-countdown.html">Countdown</a>
                            </li>
                            <li>
                                <a href="ico-market-cap.html">Market Capitalization</a>
                            </li>
                            <li>
                                <a href="ico-transaction.html">Transaction</a>
                            </li>
                            <li>
                                <a href="ico-gainers-loosers.html">Gainers / Loosers</a>
                            </li>
                            <li>
                                <a href="ico-timeline.html">Timeline</a>
                            </li>
                            <li>
                                <a href="ico-progressbar.html">Progressbar</a>
                            </li>
                            <li>
                                <a href="ico-exchange.html">Exchange</a>
                            </li>
                            <li>
                                <a href="ico-advisor.html">Advisor</a>
                            </li>
                            <li>
                                <a href="ico-advisor-profile.html">Advisor Profile</a>
                            </li>
                            <li>
                                <a href="ico-counter.html">Counters</a>
                            </li>
                            <li>
                                <a href="ico-trading-view.html">Trading View</a>
                            </li>
                            <li>
                                <a href="ico-payment-gateway.html">Payment Gateway</a>
                            </li>
                            <li>
                                <a href="ico-wallet.html">Wallet</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- #/ nk nav scroll -->
        </div>
        <!-- #/ sidebar -->

        <!-- content body -->
        <div class="content-body">
            <!-- #/ container -->
        </div>
        <!-- #/ content body -->

        <!-- footer -->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy;
                    <a href="#">Muhammed Shokr</a> 2020</p>
            </div>
        </div>
        <!-- #/ footer -->
    </div>


    <!-- Common JS -->
    <script src="{% static 'assets/plugins/common/common.min.js' %}"></script>

    <!-- Custom script -->
    <script src="{% static 'js/custom.min.js' %}"></script>


{#    <script src="{% static 'js/dashboard-10.js' %}"></script>#}



</body>

</html>