@import "variable.scss";

.card {
    margin-bottom: 30px;
}


.card-title {
    font-size  : 18px;
    font-weight: 500;
    line-height: 22px;
}

.no-card-border {
    .card {
        border: 0!important;
    }
}

.card-img-btn {
	position: absolute;
	bottom: 15px;
	left: 30px;
}

.card-header{
    border-bottom: 0px;
}

.card-footer{
    border-top: 1px solid $l-border;
    background: $l-bg;
}


.card-bg-img-1{
    background: url(../../assets/images/big/img6.jpg);
    background-position: center;
    background-size: cover;
    min-height: 300px;
}

.card-bg-img-2{
    background: url(../../assets/images/big/img6.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
}
