// Font Variable
$op         : 'Work Sans', sans-serif;

// Color Variable
$primary    : #4680ff;
$secondary  : #673bb7;
$success    : #4caf50;
$info       : #17a2b8;
$danger     : #ff5722;
$warning    : #ffc107;
$dark       : #6a707e;
$light      : #f8f9fa;
$muted      : #abafb3; 

///////////////
// Solid Color
///////////////
$white      : #fff;
$black      : #000;


/////////////////////////
// Dark Version Color
/////////////////////////
$d-ctd        : #ddd;
$d-ctl        : #abafb3;
$d-border     : rgba(120, 130, 140, 0.13); 
$d-bg  : #070713; 


////////////////////////
// Light Version Color
////////////////////////
$l-ctd        : #454545; 
$l-ctl        : #678098; 
$l-border     : rgba(120, 130, 140, 0.13); 
$l-bg  : #f5f5f5; 


/////////////
// Social
/////////////
$facebook   : #3b5998;
$twitter    : #1da1f2;
$youtube    : #cd201f;
$google-plus: #db4439;
$linkedin   : #007bb6;
$instagram  : #c32aa3;
$pinterest  : #bd081c;
$google     : #4285f4;
$snapchat   : #fffc00;
$whatsapp   : #25d366;
$tumblr     : #35465d;
$reddit     : #ff4500;
$spotify    : #1ed760;
$yahoo      : #430297;
$dribbble   : #ea4c89;
$skype      : #00aff0;
$quora      : #aa2200;
$vimeo      : #1ab7ea; 
///////////////////
// Material Color
///////////////////
$red        : #fb3a3a;
$pink       : #e91e63;
$purple     : #7460ee;
$deep-purple: #673ab7;
$indigo     : #3f51b5;
$blue       : #02bec9;
$light-blue : #03a9f4;
$cyan       : #00bcd4;
$teal       : #009688;
$green      : #26c6da;
$light-green: #8bc34a;
$lime       : #cddc39;
$yellow     : #ffe821;
$amber      : #ffc107;
$orange     : #ff9800;
$deep-orange: #ff5722;
$grey       : #9e9e9e;
$blue-grey  : #607d8b;
$brown      : #795548;